header {
  background-size: cover;
  width: 95%;
  margin-left: 2.5%;
  height: 70vh;
  background-image: url(images/contact.jpg);
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}
